/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 1/10/2015, 11:30:57 AM
    Author     : Telemedicina
*/

#nav-toolbar, #actions-toolbar {
    position: fixed;
    padding: 5px;
    z-index: 3;
}

#actions-toolbar {
    right: 0;
}

#infobox {
    position: fixed;
    background-color: #FFFFFF;
    width: 200px;
    min-height: 100px;
    z-index: 2;
    left: 2px;
    bottom: 20px;
    opacity: 0.8; 
    border: 2px solid gray;
    padding: 10px;
    display: none;
}

#infobox > p {
    margin: 0;
}

#jpeg-images > div, #openslide-images > div {
    margin-bottom: 20px;
}

#jpeg-images img, #openslide-images img {
    margin: auto;
    height: 100px;
    display: block;
}

.thumbnail-text {
    margin-top: 10px; 
    text-align: center;
}

#loading-modal .modal-dialog{
    width: 60px;
}

#img-data-widget {
    position: fixed;
    left: -300px;
    top: 64px;
    width: 290px;
    text-align: justify;
    height: 100%;
    z-index: 3;
    padding: 26px;
    transition: all ease-in-out 0.3s;
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid #bbb;
    border-radius: 6px;
}

#widget-close {
    position: relative;
    width: 20px;
    height: 20px;
    left: 20px;
    top: -20px;
    float: right;
    /*background-color: #FF7373;
    border-radius: 7px 7px 7px 7px;*/
    color: #333;
    font-size: 14px;
    /*border: 2px solid #FF2626;*/
    /*line-height: 72px !important;*/
    text-align: center;
    cursor: pointer;
}

.error {
    color : #b52b27
}